# Node
node_modules/
.npm/

# Expo / React Native generated
.expo/
.expo-shared/
dist/
web-build/

# Builds / outputs
android/
ios/
*.apk
*.aab

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
expo-debug.log

# Metro / cache
.expo-google-service-account.json
.packager
.vscode/.react

# IDE/editor
.vscode/
.idea/
*.swp
*.swo
*.iml

# OS junk
.DS_Store
Thumbs.db

# Environment / secrets
.env
.env.*

# TypeScript incremental build
*.tsbuildinfo

# Jest coverage
coverage/

# Misc
*.log
